#page-report-completiongrade-index table#completiongrade-progress {
    margin-top: 20px;
    margin-bottom: 30px;
}

#page-report-completiongrade-index .export-actions {
    text-align: center;
    list-style: none;
}

#page-report-completiongrade-index .criterianame,
#page-report-completiongrade-index .criteriaicon,
#page-report-completiongrade-index .completiongrade-progresscell {
    text-align: center;
}

/* Custom CSS for rotated header.. */
#page-report-completiongrade-index .rotated-text-container {
    display: inline-block;
    width: 16px;
}

/*rtl:begin:ignore*/
#page-report-completiongrade-index .rotated-text {
    display: inline-block;
    white-space: nowrap;

    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    vertical-align: middle;
}

#page-report-completiongrade-index .rotated-text:after {
    content: "";
    float: left;
    margin-top: 100%;
}
/*rtl:end:ignore*/